@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header,
.footer,
.section {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background: aquamarine;
  text-align: center;
  color: #fff;
}

.footer {
  background: lightseagreen;
}

.section {
  background: #cecece;
}

.sidebar {
  width: 30%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: cornflowerblue;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 2rem 2.5rem;
}

.sidebar li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.sidebar a {
  color: #fff;
}

.sidebar p {
  font-size: 10px;
}
